exportMethods(nmScatterPlot, nmHistogram, nmBoxPlot, nmQQNorm, show, nmACPlot)
exportMethods(nmScatterMatrix, nmBarChart, timeEventSPlot, timeEventDPlot, nmDotPlot)
export(setGraphParams, getGraphParams, getAllGraphParams)
export("graphSubset", "graphSubset<-", "applyGraphSubset", defaultGraphSubset, setDefaultGraphSubset)
exportClass(multiTrellis)
export("panelLayout<-")